{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block nav_link_home %} active {% endblock nav_link_home %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="jumbotron rounded p-3 mt-3">
                    <h1 class="display-4 text-center text-info">What to watch?</h1>
                    <p class="lead">Does it take you longer to find a movie to watch than to actually watch a movie? If so, we might be able to help.
                        Discover movies that are <strong>worth watching</strong> now
                    </p>
                    <hr class="my-4">
                    <p class="text-center">Get a random movie or filter the results to get just the right movie for your current mood</p>
                    <p class="lead mt-3">
                        <div class="row mb-3 justify-content-evenly">
                            <div class="col">
                                <a href="{% url 'get-random-movie' %}" class="btn btn-success p-3 w-100">RANDOM MOVIE</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-info p-3 w-100" data-bs-toggle="modal" data-bs-target="#filterModal">FILTERS</button>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-info">FILTERS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <fieldset class="form-group">
                                    {{ form|crispy }}
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Apply Filters</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="mt-5 bg-light p-3">
        <div class="container">
            <h3 class="fw-bold text-info mt-3">Popular Movies</h3>
            <div class="row mb-5">
                {% for movie in popular_movies|slice:":8" %}
                    <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center align-items-stretch">
                        <div class="card shadow my-3" style="width: 18rem;">
                            {% if movie.poster_path %}
                                <img style="display: block;" src="https://image.tmdb.org/t/p/original{{ movie.poster_path}}" style="width:100%;height:30vh;" class="img-fluid card-img-top" alt="Movie Poster">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between align-items-center border-bottom">
                                    <div class="mb-2"> 
                                        <i class="text-warning bi bi-star-fill"></i>
                                        <span>{{ movie.vote_average }}</span>
                                    </div>
                                    <div class="mb-2">
                                        <i class="bi bi-people-fill"></i>
                                        <span>
                                            {{ movie.vote_count }}
                                        </span>
                                    </div>
                                </div>
                                <h5 class="mt-2 card-title">
                                    <a class="text-dark" href={% url 'movie-detail' movie.id movie.original_title|slugify %}>
                                        {{ movie.original_title }}
                                    </a>    
                                </h5>
                                <p class="card-text mt-auto">
                                    {% for genre in movie.genre.all %}
                                        <span class="badge bg-info">{{ genre.name }}</span>
                                    {% endfor %}
                                </p>
                                <p class="mt-auto card-text"><small class="text-muted">Release Date: {{ movie.release_date }}</small></p>
                            </div>
                            <div class="card-footer">
                                {% if not user.is_authenticated %}
                                    <div class="my-2">
                                        {% if not movie.trailer %}
                                            <div class="col-lg-12">
                                                <a href="https://www.google.com/search?q={{ movie.original_title }}" target="_blank" class="btn btn-primary w-100 mt-auto">
                                                    Google It
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="col-lg-12">
                                                <div>
                                                    <a href="https://www.youtube.com/watch?v={{ movie.trailer }}" target="_blank" class="btn btn-danger w-100  mt-auto">
                                                        <i class="mt-auto text-light bi bi-youtube"></i>
                                                        <span class="text-center">
                                                            Watch the trailer
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="container my-2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            {% if not movie.trailer %}
                                                <div>
                                                    <a href="https://www.google.com/search?q={{ movie.original_title }}" target="_blank" class="btn w-100 mt-auto">
                                                        <i class="h3 bi bi-google"></i>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <a href="https://www.youtube.com/watch?v={{ movie.trailer }}" target="_blank" class="w-100 mt-auto">
                                                        <i class="h3 text-danger bi bi-youtube"></i>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div>
                                                {% if not watchlist  %}
                                                    <form action="{% url 'add-to-watchlist' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                        <button type="submit" class="mt-auto text-dark">
                                                            <i class="h3 bi bi-plus"></i>
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    {% if movie.id in watchlist %}
                                                        <form action="{% url 'rm-from-watchlist' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                            <button type="submit" class="mt-auto text-dark">
                                                                <i class="h3 text-danger bi bi-eraser"></i>
                                                            </button>
                                                        </form> 
                                                    {% else %}
                                                        <form action="{% url 'add-to-watchlist' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                            <button type="submit" class="mt-auto text-dark">
                                                                <i class="h3 bi bi-plus"></i>
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div>
                                                {% if not movie.favourited %}
                                                    <form action="{% url 'favourite' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                        <button type="submit" class="w-100 mt-auto text-info">
                                                            <i class="h3 bi bi-balloon-heart"></i>
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    {% if user in movie.favourited.all %}
                                                        <form action="{% url 'rm-favourite' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                            <button type="submit" class="w-100 mt-auto text-info">
                                                                <i class="h3 bi bi-balloon-heart-fill"></i>
                                                            </button>
                                                        </form>
                                                    {% else %}
                                                        <form action="{% url 'favourite' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                            <button type="submit" class="w-100 mt-auto text-info">
                                                                <i class="h3 bi bi-balloon-heart"></i>
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endif %} 
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>
    </section>
{% endblock %}

