{% extends 'movies/base.html' %}
{% block nav_link_login %}active{% endblock nav_link_login %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row d-flex justift-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-10 col-lg-4 mx-auto my-auto">
            <div class="card shadow my-auto mx-auto p-3 mt-5 mb-5 bg-body rounded">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="mb-3 pb-3 card-title text-center border-bottom h4 fw-bold text-uppercase text-info">Password reset</legend>
                            <div class="text-danger">{{ form.non_field_errors }}</div>
                            <div class="mb-3 mt-3">
                                {{ form|crispy }}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info w-100 rounded-pill mt-3" type="submit">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}