{% extends 'movies/base.html' %}
{% block nav_link_register %}active{% endblock nav_link_register %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row d-flex justift-content-center align-items-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-4 mx-auto my-auto">
            <div class="card shadow my-auto mx-auto p-3 mt-5 mb-5 bg-body rounded">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="mb-3 pb-3 card-title text-center border-bottom h4 fw-bold text-uppercase text-info">Create An Account</legend>
                            {{ form.non_field_errors }}
                            <!-- USERNAME-->
                            <div class="mb-3 mt-3">
                                {% if form.username.errors %}
                                    <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
                                    {{form.username|addclass:'form-control is-invalid'}}
                                    <ul class="errorlist">
                                        {% for error in form.username.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
                                    {{form.username|addclass:'form-control'}}
                                {% endif %}
                            </div>
                            <!-- EMAIL -->
                            <div class="mb-3 mt-3">
                                {% if form.email.errors %}
                                    <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                                    {{form.email|addclass:'form-control is-invalid'}}
                                    <ul class="errorlist">
                                        {% for error in form.email.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                                    {{form.email|addclass:'form-control'}}
                                {% endif %}
                            </div>
                            <!-- PASSWORD -->
                            <div class="mb-3 mt-3">
                                {% if form.password1.errors %}
                                    <label for="{{ form.password1.id_for_label }}" class="form-label">Password:</label>
                                    {{form.password1|addclass:'form-control is-invalid'}}
                                    <ul class="errorlist">
                                        {% for error in form.password1.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="{{ form.password1.id_for_label }}" class="form-label">Password:</label>
                                    {{form.password1|addclass:'form-control'}}
                                {% endif %}
                            </div>
                            <!-- CONFIRM PASSWORD -->
                            <div class="mb-3 mt-3">
                                {% if form.password2.errors %}
                                    <label for="{{ form.password2.id_for_label }}" class="form-label">Password (again):</label>
                                    {{ form.password2|addclass:'form-control is-invalid'}}
                                    <ul class="errorlist">
                                        {% for error in form.password2.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="{{ form.password2.id_for_label }}" class="form-label">Password (again):</label>
                                    {{ form.password2|addclass:'form-control' }}
                                    {% if form.password2.help_text %}
                                        <p class="help text-muted">{{ form.password2.help_text|safe }}</p>
                                    {% endif %}
                                {% endif %}                        
                            </div>  
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info w-100 rounded-pill mt-3" type="submit">Register</button>
                        </div>
                    </form>
                    <div class="pt-3">
                        <small class="text-muted">
                            Already have an account? <a class="text-dark" href="{% url 'login' %}" class="ml-2">Log in</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}