{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if not title %}
        <title>W2W / Welcome</title>
    {% else %}
        <title>{{ title }}</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
</head>
<body class="bg-light">
    <div class="page-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand fw-bold text-info" href="{% url 'index' %}">What2Watch</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                        <li class="nav-item">
                            <a class="nav-link {% block nav_link_home %}{% endblock nav_link_home %}" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block nav_link_random %}{% endblock nav_link_random %}" href="{% url 'get-random-movie' %}">Random Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block nav_link_discover %}{% endblock nav_link_discover %}" href="{% url 'discover-popular' %}">Discover Movies</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                        {% if user.is_authenticated %}
                            <div class="dropdown nav-item">
                                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="text-dark h5 bi bi-person-circle"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'profile' request.user.username %}">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'settings' request.user.username %}">
                                            Settings
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="content-wrap">
            {% if messages %}
            <div class="container d-flex justify-content-center mt-4">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>   
                {% endfor %}
            </div>
            {% endif %}
            <section class="bg-light p-3">
                <div class="container">
                    <div class="row">
                        {% block sidebar %}
                        {% endblock %}
                        {% block content %}
                        {% endblock %} 
                    </div>
                </div>
            </section>    
        </main>
        <footer class="page-footer footer text-center bg-dark text-light d-flex align-items-center p-5">
            <div iv class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <a href="https://www.linkedin.com/in/slavi%C5%A1a-jakovljevi%C4%87/" target="_blank">
                                <i class="h5 text-info bi bi-linkedin"></i>
                            </a>
                            <a href="https://www.github.com/slavishchenko/" target="_blank">
                                <i class="h5 text-info bi bi-github"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="h5 text-info bi bi-instagram"></i>
                            </a>
                        </div>
                        <p class="text-light">
                            Made by: 
                            <a class="text-light" href="https://github.com/slavishchenko" target="_blank">
                                slavishchenko
                            </a>
                        </p>
                    </div>
                    <div class="col-12 border-top mt-3">
                        <span class="small">This site uses the TMDB API but is not endorsed or certified by
                            <img class="img-fluid" style="height: 16px; width: 80px;" src="{% static 'movies/imgs/tmdb-logo.svg' %}" alt="">
                        </span>
                    </div> 
                </div>
            </div>    
        </footer>   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>